.form-control {
  border: 2px solid #eeeeee;
  &:focus {
    background-color: #f6f6f6;
    border: 2px solid #000000;
  }
}

.logo {
  min-width: 200px;
}

.imag {
  background: url(../components/common/logo.png) no-repeat scroll center top transparent;
  width: 100px;
  height: 100px;
}

.modal-text-size {
  font-size: 2rem;
}

.dashboard-main-img {
  border-radius:10px;
  max-width:100%;
  height:auto;
}

.nav-icon {
  max-width:100%;
  height:auto;
}

.nav-icon-wrapper {
  width:10%;
  height:auto;
}

.dashboard-buttons {
  border-radius:10px;
  width:30%
}

.card-img-overlay {
  position:absolute;
  top:0;
  right:unset;
  left:0;
  bottom:0;
  padding:1rem;
}

.t1 {
  font-size:6vw;
}

.t2 {
  font-size:5vw;
}

.t3 {
  font-size:4vw;
}

.t4 {
  font-size:3vw
}
