.center-alignment {
  max-width: 360px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rider-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top:60px;
}

body {
  font-family: sans-serif;
}