@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_forms";
@import "./_buttons";

.logo {
  min-width: 200px;
}

.max-width {
  max-width: 360px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
}

.login-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imag {
  background: url(../logo.png) no-repeat scroll center top transparent;
  width: 100px;
  height: 100px;
}
